<footer class="footer mt-5 pb-1">
  <div class="container">
    <div class="row" style="justify-content: center; ">
      <!-- معرفی -->
      <div class="col-12 col-md-4">
        <h4 class="mb-3" style=" color: #e94560;">🎓 کیا کد | KiaCode</h4>
        <p>
          کیا اعلم، توسعه دهنده وب (Back-end)
          <br>
          کیاکد برای ارتباط با من و به اشتراک گذاری دانش و اخبار برنامه نویسی طراحی شده است.
        </p>
      </div>
      
      <!-- صفحات -->
      <div class="col-6 col-md-2">
        <h5 class="mb-3">سایت</h5>
        
        <a href="{% url 'blog' %}" class="footer-link d-block mb-2"> بلاگ </a>
        
        <a href="{% url 'courses_list' %}" class="footer-link d-block mb-2"> دوره ها </a>
        
        <a href="{% url 'about_me' %}" class="footer-link d-block mb-2">
          درباره من
        </a>

        <a href="{% url 'contact' %}" class="footer-link d-block">
          ارتباط با من
        </a>
      </div>
      
      <!-- دوره‌ها -->
      <div class="col-6 col-md-2">
        <h5 class="mb-3">آخرین دوره ها</h5>
        {% if courses.model %}
          {% for course in courses %}
            <a href="{% url 'courses_list' %}" class="footer-link d-block mb-2"> {{course.title}} </a>
          {% endfor %}
        {% endif %}
      </div>

      <!-- مقالات -->
      <div class="col-6 col-md-2">
        <h5 class="mb-3">آخرین مقالات ها</h5>
        {% if courses.model %}
          {% for course in courses %}
            <a href="{% url 'courses_list' %}" class="footer-link d-block mb-2"> {{course.title}} </a>
          {% endfor %}
        {% endif %}
      </div>

    </div>
    
    <hr class="my-4" />

    <div class="text-center">
      <p class="mb-0">© 1405 کیا کد - تمامی حقوق محفوظ است</p>
    </div>
  </div>
</footer>
