<div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">🎓 کیا کد | KiaCode</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item"><a class="nav-link
        {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">خانه</a></li>
      <li class="nav-item"><a class="nav-link
        {% if request.path == '/blog/' %}active{% endif %}" href="{% url 'blog' %}">بلاگ</a></li>
      <li class="nav-item"><a class="nav-link
        {% if request.path == '/course/' %}active{% endif %}" href="{% url 'courses_list' %}">دوره‌ها</a></li>
      <li class="nav-item"><a class="nav-link
        {% if request.path == '/about_me/' %}active{% endif %}" href="{% url 'about_me' %}">درباره من</a></li>
      <li class="nav-item"><a class="nav-link
        {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">ارتباط با من</a></li>
    </ul>
  </div>
</div>
